<template>
  <div class="columns is-centered">
    <div class="card column is-rounded is-two-fifths">
      <div class="card-content">
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control">
            <input type="email" class="input" id="email" />
          </div>
        </div>
        <div class="field">
          <label for="password" class="label">Password</label>
          <div class="control">
            <input type="password" class="input" />
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>