<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Post Title</p>
    </header>
    <div class="card-content">
      <div class="content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
        aliquam fuga autem totam deserunt laborum dolorum atque quia amet
        voluptates?
        <time datetime="2020-1-12">11:09 PM - 1 Dec 2020</time>
      </div>
    </div>
    <footer class="card-footer">
      <a id="editIcon" href="#" class="card-footer-item"> <span> <i class="fas fa-edit"></i></span></a>
      <a id="deleteIcon" href="#" class="card-footer-item"> <span> <i class="fas fa-trash"></i></span></a>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
#deleteIcon:hover{
 color: #ff5d5b;
}
#editIcon:hover{
  color: #53bdff;
}
</style>