<template>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Task Name</th>
    <th>Category</th>
    <th>Importance</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>1</th>
    <td>Go shopping</td>
    <td>House Chores</td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
</template>

<script>
export default {
name: "TodoTable",
}
</script>

<style scoped>

</style>